.container {
  display: flex;
  width: 100%;
  flex-direction: row;

  .sidebar {
    width: 20%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

    ul {
      list-style: none;
      padding-left: 0;

      li {
        position: relative;
        display: flex;
        justify-content: center;
        text-decoration: none;
        width: 100%;
        border-bottom: 1px solid var(--font-color);
        padding: 2rem 0;
        height: 100%;
      }
    }
  }

  .rightbar {
    width: 80%;
    padding: 20px;
  }
}